* {
  box-sizing: border-box;
  font-family: Helvetica;

  color: white;
  margin: 0;
}

body {
  padding: 10px;
  background: #272822;
}

h1,
.name-list {
  text-align: center;
  margin: 5px 0 6px 0;
}
.name {
  margin: 5px 0 5px 0;
}

.files-list {
  display: inline-block;
  vertical-align: top;
  width: 330px; 
  margin: 0 20px 0 0; 
}
.create-form {
  display: inline-block;
  width: 900px;
}
a.delete-file {
  font-size: 1.5em;
  color: #fd971f;
}
input,
textarea {
  font-size: 1.5em;
  color: black;
  width: 100%;
  border-radius: 5px;
}
input {
  height: 42px;
}

textarea {
  min-height: 180px;
}

button {
  font-size: 1.5em;
  height: 30px;
  display: inline-block;
  border-radius: 3px;
  border: none;
  background: #fa6e00;
  color: white;
  margin: 10px 5px;
  text-align: center;
}

button:hover {
  opacity: 0.75;
  cursor: pointer;
}


#listOfFiles {
  margin: 0;
  padding: 0;
  height: 388px;
  list-style: none;
  background: #F7F7F7;
  border-radius: 5px;
}

#files li {
  color: black;
}
